*
!.gitignore

!gh-actions--artifacts-batch-del

!fudan-network--activator

!macos-ac-scheme--init
!macos-desktop--display-icon
!macos-launcherpad--density-set
!macos-dock--delay-set
!macos-network--proxy-set
!macos-network--proxy-switch
!macos-network--dns-set

!macos-tool--uuidgen
!macos-tool--another-wechat
!macos-tool--aod

!http-server
!ip2hex
